@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'MuseoModerno', cursive;
  background-color: #1F2021; }

.nav-link {
  font-size: large;
  font-weight: bold; }

.header {
  font-size: 2em;
  display: block;
  height: 60vh;
  width: 100%;
  color: white;
  position: relative; }
  .header h1 {
    font-size: 3em; }
  .header .btn {
    color: white;
    background-color: #19ACF0; }

.header::before {
  content: "";
  position: absolute;
  object-fit: cover;
  object-position: top center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-image: url("../assets/img/background-img2.jpg");
  filter: blur(2px); }

.header-inside {
  /* This will make it stack on top of the ::before */
  position: relative; }

.main {
  min-height: 30vh; }
  .main .main__feature {
    background-color: #0A73A3;
    border: 8px solid #F2F8F7;
    width: 15em;
    height: 15em;
    margin: 1.5em 0; }
    .main .main__feature img {
      width: 50%;
      height: 50%; }
    .main .main__feature p {
      color: #F2F8F7;
      font-size: 1.5rem; }

.footer__rrss {
  filter: invert(100%); }

@media (min-width: 1200px) {
  .nav,
  .footer,
  .main {
    padding: 0 3em; } }

@media (min-width: 1400px) {
  .nav,
  .footer,
  .main {
    padding: 0 6em; } }
