@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
.zoom, .navbar-brand:hover, .main .main__gallery .card:hover {
  transform: scale(1.05);
  transition-duration: 1s;
  z-index: 2; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'MuseoModerno', cursive;
  background-color: #1F2021; }

.nav-link {
  font-size: large;
  font-weight: bold; }

.header-alternative {
  font-size: 1.5em;
  margin: 1.5em 0;
  color: whitesmoke; }

.header {
  font-size: 2em;
  display: block;
  height: 60vh;
  width: 100%;
  color: whitesmoke;
  position: relative; }
  .header h1 {
    font-size: 3em; }
  .header .btn {
    color: white;
    background-color: #19ACF0; }

.header::before {
  content: "";
  position: absolute;
  object-fit: cover;
  object-position: top center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-image: url("../assets/img/background-img.jpg");
  filter: blur(2px); }

.header-inside {
  /* This will make it stack on top of the ::before */
  position: relative; }

.main {
  color: whitesmoke;
  min-height: 50vh; }
  .main .main__feature {
    background-color: #0A73A3;
    border: 8px solid #F2F8F7;
    width: 15em;
    height: 15em;
    margin: 1.5em 0; }
    .main .main__feature img {
      width: 50%;
      height: 50%; }
    .main .main__feature p {
      color: #F2F8F7;
      font-size: 1.5rem; }
  .main .main__gallery .card {
    width: 320px;
    z-index: 1; }
  .main .main__gallery .card-img-overlay {
    padding: 0; }
    .main .main__gallery .card-img-overlay .card-title-overlay {
      padding: 5px 0;
      background-color: gray;
      opacity: 0.7;
      width: 100%;
      height: 40px; }
      .main .main__gallery .card-img-overlay .card-title-overlay .card-title {
        padding-top: 4px; }
  .main .faq {
    color: #0A73A3; }
  .main .btn-reset {
    background-color: #DAECE8; }
  .main #carouselRopa {
    width: 95%;
    margin: 0 auto; }

@media (min-width: 576px) {
  #carouselRopa {
    width: 80% !important; } }

@media (min-width: 768px) {
  #carouselRopa {
    width: 65% !important; } }

@media (min-width: 992px) {
  #carouselRopa {
    width: 50% !important; } }

@media (min-width: 1200px) {
  .nav,
  .footer,
  .header-alternative,
  .main {
    padding: 0 3em; }
  #carouselRopa {
    width: 45% !important; } }

@media (min-width: 1400px) {
  .nav,
  .footer,
  .header-alternative,
  .main {
    padding: 0 6em; }
  #carouselRopa {
    width: 40% !important; } }

.footer__rrss {
  filter: invert(100%); }
