.main {
    color: whitesmoke;
    min-height: 50vh;
    .main__feature {
        background-color: #0A73A3;
        border: 8px solid #F2F8F7;
        width: 15em;
        height: 15em;
        margin: 1.5em 0;
        img {
            width: 50%;
            height: 50%;
        }
        p {
            color: #F2F8F7;
            font-size: 1.2rem;
        }
    }
    .main__feature:hover {
        @extend .zoom;
    }
    .main__gallery {
        .card {
            width: 320px;
            z-index: 1;
        }
        .card:hover {
            @extend .zoom;
        }
        .card-img-overlay {
            padding: 0;
            .card-title-overlay {
                padding: 5px 0;
                background-color: gray;
                opacity: 0.7;
                width: 100%;
                height: 40px;
                .card-title {
                    padding-top: 4px;
                }
            }
        }
    }
    .faq {
        color: map-get($colors, faq-color);
    }
    .btn-reset {
        background-color: map-get($colors, reset-button);
    }
    #carouselRopa {
        width: 95%;
        margin: 0 auto;
    }
}