.navbar-brand {
    padding-bottom: 10px;
    padding-top: 5px;
    img {
        width: 72px;
    }
}

.nav-link {
    font-size: large;
    font-weight: bold;
}

.navbar-brand:hover {
    @extend .zoom;
}