// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #carouselRopa {
        width: 80% !important;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #carouselRopa {
        width: 65% !important;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .navbar-brand {
        img {
            width: 74px;
        }
    }
    #carouselRopa {
        width: 50% !important;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .nav,
    .footer,
    .header-alternative,
    .main {
        @include setPadding(0, 3em);
    }
    #carouselRopa {
        width: 45% !important;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .nav,
    .footer,
    .header-alternative,
    .main {
        @include setPadding(0, 6em);
    }
    #carouselRopa {
        width: 40% !important;
    }
}