@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'MuseoModerno', cursive;
    background-color: #F2F8F7;
}

.nav {}

.nav-link {
    color: blue;
    font-size: large;
    font-weight: bold;
}

.nav-link {
    color: #A9A29F;
}

.header {
    font-size: 2em;
    display: block;
    height: 60vh;
    width: 100%;
    color: white;
    position: relative;
    h1 {
        font-size: 3em;
    }
}

.header::before {
    content: "";
    position: absolute;
    object-fit: cover;
    object-position: top center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-image: url("../assets/img/background-img2.jpg");
    filter: blur(2px);
}

.header-inside {
    /* This will make it stack on top of the ::before */
    position: relative;
}

.main {
    min-height: 30vh;
    color: #0A73A3;
    .main__feature {
        background-color: #0A73A3;
        border: 10px solid #172139;
        width: 15em;
        height: 15em;
        margin: 1.5em 0;
        img {
            width: 50%;
            height: 50%;
        }
        p {
            color: #F2F8F7;
            font-size: 1.5rem;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .nav,
    .footer,
    .main {
        margin: 0 3em;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .nav,
    .footer,
    .main {
        margin: 0 6em;
    }
}